header {
    width:100%;
    height:113px;
    border:1px solid blue;
    .logo {
        font-family: 'Shrikhand';
        font-size: 2em;
        display: flex;
        justify-content: center;
        padding-top: 13px;
        
    }
    .position {
        width:100%;
        height:50px;
        background-color: rgb(234, 234,234);     
        font-weight:bold;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(rgb(207, 207, 207) 0%, rgb(234, 234,234) 10%);
        color: rgb(53, 53, 53);     
        input {
            border:none;
            outline:none;
            background: transparent;
            text-align: center;
            color: rgb(53, 53, 53); 
            @include get-roboto-font('Medium');
            font-size: 1em;           
        }
    }
}