header {
    width:100%;
    position:relative;
    @include set-media-querrie(desktop){
        width:75%;
        margin: auto;
    }
    .logo {
        font-family: 'Shrikhand';
        font-size: 2em;
        display: flex;
        justify-content: center;
        padding: 8px 0px 0px 0px;
        p {
            @include set-media-querrie(tablette){
                font-size:1.4em;
            }
            @include set-media-querrie(laptop){
                font-size: 2em;
            }
        }
            
    }
}