/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/*Logo and titles font*/
@font-face {
  font-family: "Shrikhand";
  src: url(../../public/fonts/Shrikhand-Regular.ttf) format("truetype");
}
/*Text font*/
@font-face {
  font-family: "Roboto-Bold";
  src: url("../../public/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../../public/fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../../public/fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../../public/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../../public/fonts/Roboto-Thin.ttf") format("truetype");
}
/* Breakpoints*/
/*Mixin media querrie*/
/*MENU-CARD ANIMATION*/
@keyframes menu-card-display {
  from {
    transform: translateY(40%);
  }
  to {
    transform: translateY(0%);
  }
}
.menu__card-anim-1 {
  animation: menu-card-display 850ms cubic-bezier(0.12, 0.25, 0.36, 0.93) backwards;
  animation-delay: 150ms;
}

.menu__card-anim-2 {
  animation: menu-card-display 850ms cubic-bezier(0.12, 0.25, 0.36, 0.93) backwards;
  animation-delay: 300ms;
}

.menu__card-anim-3 {
  animation: menu-card-display 850ms cubic-bezier(0.12, 0.25, 0.36, 0.93) backwards;
  animation-delay: 450ms;
}

.menu__card-anim-4 {
  animation: menu-card-display 850ms cubic-bezier(0.12, 0.25, 0.36, 0.93) backwards;
  animation-delay: 600ms;
}

.menu__card-anim-5 {
  animation: menu-card-display 850ms cubic-bezier(0.12, 0.25, 0.36, 0.93) backwards;
  animation-delay: 750ms;
}

.menu__card-anim-6 {
  animation: menu-card-display 850ms cubic-bezier(0.12, 0.25, 0.36, 0.93) backwards;
  animation-delay: 900ms;
}

.menu__card-anim-7 {
  animation: menu-card-display 850ms cubic-bezier(0.12, 0.25, 0.36, 0.93) backwards;
  animation-delay: 1050ms;
}

.menu__card-anim-8 {
  animation: menu-card-display 850ms cubic-bezier(0.12, 0.25, 0.36, 0.93) backwards;
  animation-delay: 1200ms;
}

.menu__card-anim-9 {
  animation: menu-card-display 850ms cubic-bezier(0.12, 0.25, 0.36, 0.93) backwards;
  animation-delay: 1350ms;
}

.menu__card-anim-10 {
  animation: menu-card-display 850ms cubic-bezier(0.12, 0.25, 0.36, 0.93) backwards;
  animation-delay: 1500ms;
}

/*INDEX PAGE ANIMATION*/
@keyframes container {
  from {
    opacity: 1;
    z-index: 0;
    background: linear-gradient(#9356DC, #99E2D0);
  }
  99% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
@keyframes loading-spinner {
  from {
    transform: scale(2);
  }
  85%, 100% {
    transform: scale(1);
    background-color: #99E2D0;
  }
}
@keyframes dot-spinner {
  from {
    transform: scale(1);
  }
  85%, 100% {
    transform: scale(25);
    background-color: #99E2D0;
  }
}
@keyframes ohmyfood-text {
  from {
    transform: scale(0);
  }
  85%, 100% {
    transform: scale(0.1);
  }
}
.btn-previous {
  position: absolute;
  left: 23px;
  top: 20px;
  font-size: 1.2em;
  background: transparent;
  color: #353535;
}
.btn-previous--no-display {
  display: none;
}
@media screen and (min-width: 767px) {
  .btn-previous {
    left: 5%;
    top: 35%;
    font-size: 1.3em;
  }
}
@media screen and (min-width: 1023px) {
  .btn-previous {
    font-size: 1.5em;
  }
}

/*BUTTON TO EXPLORE RESTAURANTS IN HOME PAGE*/
.btn {
  height: auto;
  padding: 20px;
  border-radius: 200px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  box-shadow: 5px 5px 10px #c9c9c9;
  color: white;
  font-family: "Roboto-Regular";
  font-size: 1em;
}
@media screen and (min-width: 767px) {
  .btn {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 1023px) {
  .btn {
    font-size: 1.5em;
    margin-top: 20px;
  }
}
.btn:hover {
  background: linear-gradient(#ff88de, #9b63df);
  box-shadow: 5px 5px 8px #9e9999;
}

/*OPERATION-BTN*/
.operation-btn {
  width: 87%;
  height: 74px;
  list-style-type: none;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #c9c9c9;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
  margin-right: 18px;
}
@media screen and (min-width: 550px) {
  .operation-btn {
    width: 80%;
    margin-right: 0;
  }
}
@media screen and (min-width: 767px) {
  .operation-btn {
    width: 40%;
    font-size: 1.1em;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1023px) {
  .operation-btn {
    height: 90px;
  }
}
.operation-btn:hover {
  background-color: #f5edff;
}
.operation-btn:hover > i {
  color: #9356dc;
}
.operation-btn span {
  min-width: 25px;
  min-height: 25px;
  border-radius: 25px;
  background-color: #9356dc;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  position: relative;
  top: 0px;
  left: -10px;
  margin-right: 20px;
}
.operation-btn__icon {
  margin-right: 20px;
  color: #7e7e7e;
}

.restaurant-card {
  width: 90%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 15px #c9c9c9;
  text-decoration: none;
  color: black;
  position: relative;
}
@media screen and (min-width: 550px) {
  .restaurant-card {
    width: 80%;
  }
}
@media screen and (min-width: 767px) {
  .restaurant-card {
    width: 45%;
  }
}
@media screen and (min-width: 1023px) {
  .restaurant-card {
    width: 40%;
    height: 40%;
    margin-bottom: 50px;
  }
}
.restaurant-card img {
  width: 100%;
  height: 174px;
  object-fit: cover;
}
@media screen and (min-width: 1023px) {
  .restaurant-card img {
    height: 75%;
  }
}
.restaurant-card__boarding-sign {
  width: 23.41%;
  height: 29px;
  background-color: #99e2d0;
  box-shadow: 0px 0px 3px #99e2d0;
  border-radius: 2px;
  color: #008766;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 15px;
  font-family: "Roboto-Medium";
  font-size: 0.9em;
  padding: 10px;
}
@media screen and (min-width: 1023px) {
  .restaurant-card__boarding-sign {
    width: 15%;
  }
}
.restaurant-card__boarding-sign--no-display {
  display: none;
}
.restaurant-card__caption {
  width: 100%;
  height: auto;
  padding: 10px 20px 15px 20px;
  display: flex;
  position: relative;
}
@media screen and (min-width: 767px) {
  .restaurant-card__caption {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 1023px) {
  .restaurant-card__caption {
    padding: 20px 20px 0px 20px;
  }
}
.restaurant-card__name {
  font-family: "Roboto-Bold";
  font-size: 1.2em;
}
.restaurant-card__name a {
  color: black;
  text-decoration-line: none;
}
.restaurant-card__location {
  font-family: "Roboto-Light";
  font-size: 1.1em;
}

.like-btn {
  font-size: 1.5em;
  color: black;
  position: absolute;
  right: 30px;
  border: none;
  background: transparent;
}
@media screen and (min-width: 550px) {
  .like-btn--responsive {
    right: 14%;
  }
}
@media screen and (min-width: 1023px) {
  .like-btn--responsive {
    right: 4%;
    font-size: 1.8em;
  }
}
.like-btn:hover .like-btn--pink {
  transform: translate(-50%, -50%) scale(1);
}
.like-btn--pink {
  background: linear-gradient(#FF79DA, #9356DC);
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 600ms;
}
.like-btn--stroke {
  position: relative;
}

@media screen and (min-width: 1023px) {
  .menu__section {
    display: flex;
    justify-content: space-evenly;
  }
}
.menu__section-card {
  width: 100%;
}
@media screen and (min-width: 550px) {
  .menu__section-card {
    width: 80%;
    margin: auto;
  }
}
@media screen and (min-width: 1023px) {
  .menu__section-card {
    width: 30%;
    margin: 0;
  }
}
.menu__section-card li {
  border-radius: 15px;
  box-shadow: 5px 5px 15px #c9c9c9;
  background-color: #f6f6f6;
  width: 95%;
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}
.menu__section-card h2 {
  font-family: "Roboto-Light";
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  padding-bottom: 10px;
}

.menu__card {
  width: 100%;
}
.menu__card > li {
  background-color: white;
  cursor: pointer;
}
.menu__card h3 {
  font-family: "Roboto-Bold";
  font-size: 1.2em;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__card p {
  font-family: "Roboto-Light";
  margin-bottom: 5px;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__card-infos {
  display: flex;
  padding: 15px 10px 10px 15px;
  position: relative;
  width: 100%;
  transition: width 500ms ease-in-out;
}
.menu__card-infos-caption {
  min-width: 0;
}
.menu__card-infos:hover {
  width: calc(100% - 60px);
}
.menu__card-infos:hover i {
  transform: rotate(-360deg);
}
.menu__card-infos-price {
  font-family: "Roboto-Medium";
  color: #353535;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-bottom: 5px;
  padding-right: 15px;
}
.menu__card-infos-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 100%;
  background-color: #99e2d0;
  position: absolute;
  right: -60px;
  top: 0px;
}
.menu__card-infos-check i {
  color: white;
  background: transparent;
  transform: rotate(0deg);
  transition: transform 1000ms;
}

header {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 1400px) {
  header {
    width: 75%;
    margin: auto;
  }
}
header .logo {
  font-family: "Shrikhand";
  font-size: 2em;
  display: flex;
  justify-content: center;
  padding: 8px 0px 0px 0px;
}
@media screen and (min-width: 767px) {
  header .logo p {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1023px) {
  header .logo p {
    font-size: 2em;
  }
}

@media screen and (min-width: 1400px) {
  body {
    width: 100%;
  }
}

@media screen and (min-width: 1400px) {
  main {
    width: 75%;
    margin: auto;
  }
}

footer {
  width: 100%;
  height: 197px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #353535;
  color: white;
}
@media screen and (min-width: 767px) {
  footer {
    font-size: 1.2em;
    height: auto;
  }
}
@media screen and (min-width: 1023px) {
  footer {
    font-size: 1.2em;
  }
}
footer .footer-title {
  width: 90%;
  margin-top: 20px;
  font-family: "Shrikhand";
  font-size: 1.2em;
}
@media screen and (min-width: 1023px) {
  footer .footer-title {
    display: flex;
    justify-content: center;
  }
}
footer .footer-infos {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  margin-top: 15px;
  width: 90%;
  font-family: "Roboto-Regular";
  font-size: 1em;
}
@media screen and (min-width: 1023px) {
  footer .footer-infos {
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
footer .footer-infos__icon {
  margin-right: 10px;
  font-size: 0.8em;
}
footer .footer-infos__icon--rotate {
  transform: rotate(-45deg);
  font-size: 0.6em;
  margin-right: 9px;
  color: white;
}
footer .footer-infos li {
  margin-bottom: 10px;
}
footer .footer-infos a {
  color: white;
  text-decoration-line: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  animation: container 4000ms forwards;
}
.container__loading-spinner {
  width: 250px;
  height: 250px;
  border: 5px solid #9356DC;
  border-radius: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loading-spinner 1500ms infinite ease-in-out;
}
.container__loading-spinner-dot {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF79DA;
  border-radius: 10px;
  animation: dot-spinner 1500ms infinite ease-in-out;
}
.container__loading-spinner-dot span {
  font-family: "Shrikhand";
  font-size: 1em;
  animation: ohmyfood-text 1500ms infinite ease-in-out;
}

.position {
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#cfcfcf 0%, #eaeaea 10%);
  color: #353535;
}
@media screen and (min-width: 767px) {
  .position {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1023px) {
  .position {
    font-size: 1.4em;
  }
}
.position input {
  border: none;
  outline: none;
  background: transparent;
  text-align: center;
  color: #353535;
  font-family: "Roboto-Medium";
  font-size: 1em;
}

.introduction {
  width: 100%;
  height: 287px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.introduction h1 {
  font-size: 1.7em;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  font-family: "Roboto-Bold";
}
@media screen and (min-width: 767px) {
  .introduction h1 {
    font-size: 2em;
  }
}
@media screen and (min-width: 1023px) {
  .introduction h1 {
    font-size: 2.5em;
    margin-top: 20px;
  }
}
.introduction p {
  font-family: "Roboto-Light";
  font-size: 1.2em;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  color: #353535;
}
@media screen and (min-width: 767px) {
  .introduction p {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1023px) {
  .introduction p {
    font-size: 1.8em;
    margin-top: 20px;
  }
}

.operation {
  width: 100%;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Roboto-Bold";
}
.operation h2 {
  font-size: 1.7em;
  margin-right: auto;
  padding-left: 20px;
}
@media screen and (min-width: 1023px) {
  .operation h2 {
    font-size: 2.2em;
    padding-left: 6.5%;
  }
}
.operation__list {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
@media screen and (min-width: 550px) {
  .operation__list {
    align-items: center;
  }
}
@media screen and (min-width: 767px) {
  .operation__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1.1em;
  }
}
@media screen and (min-width: 1023px) {
  .operation__list {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 767px) {
  .operation__list:nth-child(3) {
    width: 40%;
  }
}

.restaurant {
  width: 100%;
  background-color: #f6f6f6;
}
.restaurant h2 {
  margin-right: auto;
  padding-left: 20px;
  font-family: "Roboto-Bold";
  font-size: 1.7em;
}
@media screen and (min-width: 1023px) {
  .restaurant h2 {
    font-size: 2.2em;
    padding-left: 6.5%;
  }
}

.restaurant-section {
  width: 100%;
  height: 1225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (min-width: 767px) {
  .restaurant-section {
    flex-wrap: wrap;
    flex-direction: row;
    height: 650px;
  }
}
@media screen and (min-width: 1023px) {
  .restaurant-section {
    height: 950px;
    margin-top: 50px;
  }
}

.menu {
  width: 100%;
  background-color: #f6f6f6;
}
.menu__order {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.menu__order button {
  padding: 20px 40px;
}
.menu__picture {
  width: 100%;
}
@media screen and (min-width: 1023px) {
  .menu__picture img {
    object-fit: cover;
    height: 400px;
    width: 100%;
  }
}
.menu__details {
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  background-color: #f6f6f6;
  position: relative;
  top: -40px;
}
.menu__details-title {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 30px;
}
.menu__details-title h1 {
  font-family: "Shrikhand";
  font-size: 1.7em;
  margin-left: 20px;
}
@media screen and (min-width: 550px) {
  .menu__details-title h1 {
    margin-left: 0;
    padding-left: 12%;
  }
}
@media screen and (min-width: 1023px) {
  .menu__details-title h1 {
    padding-left: 5%;
    font-size: 2em;
  }
}
@media screen and (min-width: 1250px) {
  .menu__details-title h1 {
    padding-left: 4%;
  }
}
@media screen and (min-width: 1400px) {
  .menu__details-title h1 {
    font-size: 2.2em;
  }
}

/*# sourceMappingURL=style.css.map */
