.default-btn {
    height:50px;
    padding: 0px 20px;
    border-radius: 200px;
    background: linear-gradient(#FF79DA, #9356DC);
    border: none;
    box-shadow: 5px 5px 10px rgb(201, 201, 201);     
    color: white;
    @include get-roboto-font('Regular'); 
    font-size: 1em;          
}