/*Logo and titles font*/

@font-face {
    font-family: 'Shrikhand';
    src: url(../../public/fonts/Shrikhand-Regular.ttf) format('truetype');
}

/*Text font*/

@font-face {
    font-family: 'Roboto';
    src: url(../../public/fonts/Roboto-Thin.ttf) format('truetype');
}
    