/*Logo and titles font*/

@font-face {
    font-family: 'Shrikhand';
    src: url(../../public/fonts/Shrikhand-Regular.ttf) format('truetype');
}

/*Text font*/

$weight-roboto: ('Bold', 'Light', 'Medium', 'Regular', 'Thin');
@each $value in $weight-roboto {
    @font-face {
        font-family: 'Roboto-#{$value}';
        src: url('../../public/fonts/Roboto-#{$value}.ttf') format('truetype');
    }
}

    


    