.btn-previous {
    position: absolute;
    left:23px; top:20px;
    font-size:1.2em;
    background: transparent;
    color:rgb(53, 53, 53);
    &--no-display{
        display:none;
    }
    @include set-media-querrie(tablette){
        left:5%; top:35%;
        font-size: 1.3em;
    }
    @include set-media-querrie(laptop){
        font-size:1.5em;
    }
}

